/*
	Background: 		#000
	Background Red: 	#3D0000
	Lighter Red: 		#950101
	Light Red: 			#FF0000
*/


/* Global Stuff */
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

body {
	background-color: #000000;
	color: #fff;
	font-family: monospace;
	font-size: x-large;
	display: flex;
	flex-direction: column;
}

div.content {
	background-color: #1F0000;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin: 40px 5%;
}

main {
	flex: 1 0 auto;
}

global-header {
	height: 100px;
	display: block;
}


/* Header Stuff */
ul.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3D0000;
}

li.header {
	float: left;
	border-right: 2px solid #950101;
}

li.header:last-child {
	border-right: 0px;
	border-left: 2px solid #950101;
}

#header-games {
	float: right;
}

li a.header {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.header:hover {
	background-color: #ff0000;
}