/* ========================================================================== */
/*                                   Colors                                   */
/* ========================================================================== 

	Background: 		#000
	Background Red: 	#3D0000
	Lighter Red: 		#950101
	Light Red: 			#FF0000

*/


/* ========================================================================== */
/*                                Global Stuff                                */
/* ========================================================================== */
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

body {
	background-color: #000000;
	color: #fff;
	font-family: monospace;
	font-size: x-large;
	display: flex;
	flex-direction: column;
}

div.content {
	background-color: #1F0000;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin: 40px 5%;
}

main {
	flex: 1 0 auto;
}

a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: solid;
	border: #ff0000;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
}

a:hover {
	background-color: #ff0000;
}


/* ========================================================================== */
/*                                Header Stuff                                */
/* ========================================================================== */

global-header {
	height: 100px;
	display: block;
}


ul.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3D0000;
}

li.header {
	float: left;
	border-right: 2px solid #950101;
}

li.header:last-child {
	border-right: 0px;
	border-left: 2px solid #950101;
}

#header-games {
	float: right;
}

li a.header {
	border-radius: 0px;
	font-weight: normal;
	padding: 0px;
	display: block;
	color: white;
	background-color: #3D0000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
}

li a.header:hover {
	background-color: #ff0000;
}