/* ---------------------------------- Divs ---------------------------------- */
div.game-div {

	padding-top: 20px;
	display: flex;
	justify-content: center;
	padding: 0 auto;
}

canvas.p5Canvas {
	z-index: 0;
}

div.ui {
	z-index: 1;

	width: 1024px;
	height: 576px;

	position: absolute;
}

/* -------------------------------- Main Menu ------------------------------- */
#settings-button {
	position: absolute;

	display: inline-block;
	cursor: pointer;

	top: 0px;
	left: 948px;

	margin: 4px;

	background: rgba(40, 40, 40, 0.4);

	border-radius: 16px;
	border-color: rgb(40, 40, 40);
}

#title {
	position: absolute;
	pointer-events: none;

	display: flex;
	justify-content: center;

	top: 16px;
	width: 1024px;

	color: black;
	font-size: 32px;
}

#start-button {

	position: absolute;

	display: flex;
	justify-content: center;

	top: 456px;
	width: 1024px;

	cursor: pointer;
}

#start-button button {
	background-color: rgba(40, 40, 40, 0.4);
	border-radius: 16px;
	border-color: rgb(40, 40, 40);

	font-size: 16px;

	padding: 16px;
}

/* ------------------------------ Settings Menu ----------------------------- */

#menu-settings {
	position: absolute;
	display: block;
	top: 32px;
	left: 256px;

	width: 512px;
	height: 512px;

	background: rgb(54, 54, 54);

	border-color: rgb(147, 113, 0);
	border-radius: 16px;
	border-width: 16px;
}